/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter";
  --font-accent: "PressStart2P-Regular";
  --font-weight-card-text: 410;
  --font-weight-card-header: 715;
  --complex-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --main-text-color: #000;
  --text-color: #fff;
  --bg-color: #fff;
  --accent-color: #000;
  --block-width: clamp(23.4375rem, 16.2911rem + 30.5164vw, 43.75rem);
  --header-logo-text: clamp(49px, 43.67px + 1.48vw, 65px);
  --header-title-text: clamp(14px, 11px + 0.83vw, 23px);
  --page-width: 1440px;
  --header-width: clamp(300px, 700px, 90%);
  --animation-fill-color: rgba(255, 0, 0, 1);
  --contour-color: #000;
}
